:root {
  --color-header__footer: #e9e9e9;
  --color-white: #f8f8f8;
  --color-blue: #2a5fad;
  --color-red: #e74949;
  --color-gray-primary: #bebebe;
  --color-gray-secundary: #f5f5f5;
  --color-dark: #222222;
  --color-black: #000000;

  --color-text-primary: #eeeeee;

  --color-border-primary: #d4d4d4;
  --color-border-secundary: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  background-color: var(--color-header__footer);
  z-index: 1000;
}

body {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-white);
}

footer {
  margin-top: 5rem;
  min-width: 375px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-dark);
  background-color: var(--color-header__footer);
}

.title {
  padding: 0.1rem 0.3rem;
  margin-left: 1rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  color: var(--color-text-primary);
  background-color: var(--color-blue);
}

.nav__link {
  margin: 0.5rem 0 0 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links {
  font-size: 1rem;
  color: var(--color-dark);
  text-decoration: none;
}

.nav-links:hover {
  transform: scale(1.05);
  transition: 0.1.5s;
  color: var(--color-blue);
}

.mode {
  margin-bottom: 0.7rem;
  margin-right: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-primary);
}

.mode button {
  border: none;
  background: none;
}

.fa-sun {
  font-size: 1.4rem;
  display: none;
  cursor: pointer;
}

.fa-sun:hover {
  transform: scale(1.07);
  transition: 0.1.5s;
}

.fa-moon {
  font-size: 1.4rem;
  display: flex;
  cursor: pointer;
}

.fa-moon:hover {
  transform: scale(1.07);
  transition: 0.1.5s;
}

.car {
  margin-top: 1rem;
  position: absolute;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.car-circle {
  display: flex;
}

.car-circle:hover {
  transform: scale(1.1);
  transition: 0.1.5s;
}

.circle {
  padding: 0.1rem;
  position: relative;
  top: -1rem;
  right: 0.5rem;
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-gray-primary);
}

.circle span {
  font-size: 0.8rem;
  font-weight: 500;
}

.car-total {
  font-size: 1.2rem;
  font-weight: 400;
}

.car button {
  border: none;
  background: none;
}

.fa-cart-shopping {
  font-size: 1.3rem;
  color: var(--color-dark);
  cursor: pointer;
}

.cart {
  padding: 1rem 0.5rem;
  position: absolute;
  display: none;
  flex-direction: column;
  right: 0.2rem;
  top: 4rem;
  width: 27rem;
  height: 25rem;
  border: 0.1rem solid var(--color-border-primary);
  border-radius: 0.2rem;
  background-color: var(--color-header__footer);
}

.cart-title__iconD {
  display: flex;
}

.cart-title__iconD button {
  margin-top: -1rem;
  position: relative;
  left: 37%;
  border: none;
  background: none;
}

.fa-xmark {
  font-size: 1.8rem;
  cursor: pointer;
}

.cart__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.cart-container {
  margin-bottom: 2rem;
  padding: 0.5rem;
  height: 70%;
  border: 0.1rem solid var(--color-gray-primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-secundary);
  overflow-y: auto;
  gap: 0.5rem;
}

.cart-card {
  padding: 0.5rem;
  display: flex;
  height: 4rem;
  flex-wrap: wrap;
  border: 0.1rem solid var(--color-border-primary);
  border-radius: 1rem;
}

.cart-title {
  margin-left: 1rem;
  width: 10rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.cart-d {
  margin-top: 2.5rem;
  margin-left: 1rem;
  width: 10rem;
  display: flex;
  gap: 2rem;
}

.cart-amount {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
}

.cart-price {
  font-size: 1.1rem;
  font-weight: 600;
}
.cart__btns {
  margin-top: -1.8rem;
  display: flex;
  justify-content: space-evenly;
  width: 11rem;
}

.cart-card__btn {
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  display: inline-block;
  color: var(--color-white);
  cursor: pointer;
}

.cart-card__btn:hover {
  color: var(--color-text-primary);
  transition: 0.1s;
}

.card-add {
  background-color: var(--color-blue);
}

.card-clear {
  background-color: var(--color-red);
}

.cart-total {
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.cart-btn {
  margin-top: 2rem;
  width: 12rem;
  display: flex;
  justify-content: space-evenly;
}

.add {
  padding: 0.3rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 0.3rem;
  cursor: pointer;
}

.add:hover {
  transform: scale(1.03);
  transition: 0.1.5s;
}

.clear {
  padding: 0.3rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 0.3rem;
  cursor: pointer;
}

.clear:hover {
  transform: scale(1.03);
  transition: 0.1.5s;
}

.hero {
  background-image: url(/assets/images/Hero.jpg);
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  display: flex;
}

.hero__title {
  margin: 10rem auto 1rem;
  display: inline-block;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-text-primary);
}

.hero-title span {
  padding: 0.1rem 0.2rem;
  font-weight: 600;
  border-radius: 1.5rem;
  background-color: var(--color-blue);
}

.hero-info {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-gray-secundary);
}

.products {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 4rem;
}

.products h2 {
  margin: 4rem 0 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 1200px;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 0.1rem solid var(--color-border-secundary);
  border-radius: 0.5rem;
  gap: 1rem;
}

.card {
  padding: 1rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-border-primary);
  border-radius: 1rem;
}

.card-img {
  display: flex;
  justify-content: center;
  width: auto;
  object-fit: contain;
  height: 8rem;
}

.card-img img {
  width: 70%;
}

.card-title {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.card-info {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
}

.card-price {
  margin: 1rem auto;
  font-size: 1.3rem;
  font-weight: 600;
}

.card-btn {
  margin: 1rem 0 0 10rem;
  width: 5rem;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 200;
  color: var(--color-dark);
  background-color: var(--color-gray-secundary);
  border: 0.1rem solid var(--color-dark);
  border-radius: 1rem;
  cursor: pointer;
}

.card-btn:hover {
  transform: scale(1.01);
  transition: 0.1s;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.footer-text {
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mode {
    margin: 0;
    margin-top: -0.5rem;
    margin-right: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .cart {
    top: 3.9rem;
    right: 0;
    height: 100vh;
    width: 65vw;
  }

  .cart__title {
    font-size: 1.2rem;
  }

  .cart-container {
    height: 50vh;
  }

  .cart-card {
    height: auto;
    flex-direction: row;
  }

  .cart-title {
    font-size: 1rem;
  }

  .cart-d {
    margin: 0;
    margin-left: 8%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 8rem;
    gap: 1rem;
  }

  .cart-total {
    font-size: 1.2rem;
  }

  .fa-xmark {
    display: none;
  }

  .car {
    right: 1rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .card-btn {
    margin: 0;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 570px) {
  .mode {
    margin: 0;
    margin-top: -0.5rem;
    margin-right: 2rem;
  }

  .cart-card {
    min-width: auto;
  }

  .cart-d {
    margin: 0;
    margin-top: 1rem;
    margin-left: 1.3rem;
    gap: 0;
  }

  .cart__btns {
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
  }
}
